
<form class="container" onsubmit="return false">
  <fieldset class="row">
    <label class="span6" for="search" >Enter a City, State, or Country </label>
    <input class="span4" id="search" type="text" />
    <button class="btn-primary" id="submit" type="button" {{action "doSearch"}}>Search</button>
  </fieldset>
</form>
<br>

<table class="table">
  <thead>
  <tr>
  <th><!-- handle bizzare ember behavior !--></th>
  <th >Search query</th>
  <th >Status</th>
  <th >Result</th>
  </tr>
  </thead>
  <tbody>
  {{#each tasks as |task|}}
    <tr class="row">
      <td >{{task.query}}</td>
      <td >{{task.status}}</td>
      <td >{{search-results model=task.result}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

