<form class="container">
  <fieldset class="row">
    <label class="span6" for="search" >Enter a City, State, or Country </label>
    <input class="span4" id="search" type="text" >
    <input class="btn-primary" id="submit" type="button" value="Search" onClick= >
  </fieldset>
  blarg
</form>
